<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재고 상태</title>
</head>
<body>
    <ul>
        <% stocks.forEach(stock => { %>
            <% const url = `./stocks/${stock.id}.html` %> 
            <li><a href="<%= url %>"><%- stock.id %>: <%- stock.name %> (<%- stock.status %>)</a></li>
        <% }) %>
    </ul>
        
</body>
</html>