<% const { id, name, status: statusKey } = stock %>
<% const { statusName = name, description } = status[statusKey] %>

<% console.log(`${id}: ${name} 상품 재고 상태 페이지 생성중`) %>

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %> 재고 상태</title>
  </head>
  <body>
    <div>지금 보시는 <%- name %> 상품은 현재 <%- statusName %> 상태입니다.</div>
    <div><%- description %> </div>
    <br>
    <div>감사합니다.</div>
  </body>
</html>
